.eventActionDiv button,
.eventActionDiv a {
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
  color: var(--white) !important;
  width: 100% !important;
}

@media (hover: hover) {
  .eventActionDiv button:hover,
  .eventActionDiv a:hover {
    background-color: transparent !important;
    color: var(--primary) !important;
    border-color: var(--primary) !important;
  }
}
