.eventActionDiv button {
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
  color: var(--white) !important;
}

.eventActionDiv button:hover {
  background-color: transparent !important;
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}
