.button {
  width: fit-content;
  border-radius: 1em;
  padding: 0.75em 1em;
  font-weight: 500 !important;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

@media (hover: hover) {
  .button:hover {
    transform: translateY(-2px);
  }
}

.primary {
  background-color: var(--touchable);
  border: 1px solid var(--touchable);
  color: var(--white);
}

@media (hover: hover) {
  .primary:hover {
    background-color: var(--white);
    color: var(--touchable);
  }
}

.secondary {
  background-color: transparent;
  color: var(--touchable);
  border: 1px solid var(--touchable);
}

@media (hover: hover) {
  .secondary:hover {
    background-color: var(--touchable);
    color: var(--white);
  }
}

.buttonText {
  gap: 0.5em;
  font-weight: 400 !important;
  padding: 0 !important;
  border-radius: 0px !important;
}

@media (hover: hover) {
  .buttonText:hover {
    text-decoration: underline;
    color: var(--touchable);
  }
}

.terciary {
  background-color: var(--white-opacidad);
  border: 1px solid var(--white);
  color: var(--white);
  backdrop-filter: blur(10px);
}

@media (hover: hover) {
  .terciary:hover {
    background-color: var(--white);
    color: var(--primary);
  }
}

.socialMovieIcon{
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
}

@media (hover: hover) {
  .socialMovieIcon:hover {
    background-color: var(--white);
  }
}

@media (max-width: 640px) {
  .button {
    font-size: .8em;
  }
}
