@import "tailwindcss";

:root {
  --primary: #48250b;
  --secondary: #cad7e8;
  --white: #fff8f2;
  --touchable: #0445af;

  --primary-opacidad: rgba(72, 37, 11, 0.2);

  --font-body: var(--font-inter);

  --padding-body-mobile: 40px;
  --padding-body-desktop: 40px;

  --padding-body-desktop-w: 80px;
  --padding-body-mobile-w: 24px;
}

* {
  transition: 0.2s all ease;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

html {
  background-color: var(--white);
}

.sectionMain {
  font-family: var(--font-body);
  font-weight: 400;
  color: var(--primary);

  gap: 10em;

  padding: var(--padding-body-desktop) var(--padding-body-desktop-w);
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 600;
}

h5 {
  font-weight: 300;
  font-size: 1.25em;
}

.carousel {
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 600px) {
  .sectionMain {
    padding: var(--padding-body-mobile) var(--padding-body-mobile-w);
  }

  .carousel {
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Prevents content from wrapping */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
