@import "tailwindcss";

:root {
  --primary: #48250b;
  --secondary: #cad7e8;
  --white: #fff8f2;
  --touchable: #0445af;

  --font-body: var(--font-inter);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  background: var(--white);
  color: var(--primary);

  padding: 80px 100px;
}

main {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5em;
  font-weight: 700;

  width: fit-content;
}

h3 {
  font-weight: 600 !important;
}

h4 {
  font-weight: 600 !important;
}

h5 {
  font-weight: 300 !important;
  font-size: 1.25em !important;
}

@media screen and (max-width: 600px) {
  body {
    padding: 40px 40px;
    gap: 20px;
  }
}
