.card {
  display: flex;
  flex-direction: column;

  width: 30em;
  height: fit-content;
  border: 1px solid var(--primary);
  border-radius: 0.5em;

  overflow: hidden;
}

.active {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.cardImgContracted {
  width: 13em;
  height: 10em;
  overflow: hidden;
  flex-shrink: 0;

  border-radius: 0.5em 0.5em 0 0;

  border: 1px solid var(--primary);
}

.cardImgDiv {
  width: 100%;
  height: 15em;
  overflow: hidden;
  flex-shrink: 0;
}

.cardImgContractedText {
  padding: 1em;
  border: 1px solid var(--primary);
  border-radius: 0 0 0.5em 0.5em;
}

.cardImgDiv img,
.cardImgContracted img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardSection {
  display: flex;

  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.cardDiv {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cardDiv {
  padding: 1.5em 1.5em;
}

.detailsContainer {
  display: flex;
  flex-wrap: wrap;

  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
}

.textDetail {
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.5em;

  padding: 0.5em 1em;
  margin: 1em 0;

  font-size: 0.8em;
}

/* linea izquierda */
.textDetail::before {
  content: "";

  position: absolute;

  top: 0;
  left: -1px;

  width: 1px;
  height: 100%;

  background: var(--primary);
}

/* linea derecha */
.textDetail::after {
  content: "";

  position: absolute;

  top: 0;
  right: 0;

  width: 1px;
  height: 100%;

  background: var(--primary);
}

.cardContent,
.cardImgContracted {
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  height: fit-content;
}

.visible {
  opacity: 1;
  transform: scale(1);
}

.hidden {
  opacity: 0;
  transform: scale(0.98);
  display: none;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }

  .cardImgContractedDiv {
    display: none;
    opacity: 0;
  }

  .cardContent {
    opacity: 1;
    transform: scale(1);
    width: max-content;
  }

  .detailsContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.cardImgContractedDiv {
  position: relative;
}

.divDetailIcon {
  height: fit-content;
  display: flex;
  align-items: center;
  margin: 1em 0;
}
